$back: #E5E5E5;
$title: #222222;
$menu: #1434E1;

html, body {
    font-family: 'Fira Sans', sans-serif !important;
    background-color: $back;
    color: #222222;
    ul {
        list-style: none;
    }
    a {
        color: #222222;
        text-decoration: none;
    }
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-color: $title; 
}

.search-btn{
    background-color: #222222;
    border: none;
}

.hero {
    background-color: $title;
    background-image: url("../img/Placeholder.png");
    background-repeat: no-repeat;
    background-position: right;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .hero-info {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
            color: #ffffff;
            font-weight: 600;
            font-size: 60px;
            line-height: 70px;
            margin-bottom: 30px;
            margin-top: 126px;
        }
        p {
            color: #C4C4C4;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 56px;
        }
        .hero-btn {
            width: 190px;
            height: 50px;
            color: #ffffff;
            background-color: $menu;
            border: none;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 4px;
            text-transform: uppercase;
            margin-bottom: 189px;
        }
        .hero-btn:hover{
            background-color: #ffffff;
            color: $menu;
        }
    }
    .loader{
        color: #ffffff;
        width: 474px;
        display: flex;
        justify-content: space-between;
        .progress-li{
            width: 90%;
            margin-top: 2px;
        }
    }
}

.hero-video {
    position: absolute;
    top: 55%;
    left: 50%;
    z-index: 2;
}

.services {
    margin-top: 103px;
}

.services__title{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 40px; 
}

.services-block1 {
    display: flex;
    align-items: center;

}

.services-block1__title {
    width: 45%;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    margin-right: 10%;
}

.services-block1__menu {
    width: 45%;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;  
    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 200px;
        li {
            margin: 10px 0;
        }

    }
}

footer{
    background-color: #515151;
    .container{
        padding: 70px 0rem 0 0rem;
    }
    .footer-form{
        display: flex;
        justify-content: space-between;
        .footer-menu{
            margin-top: 10px;
        }
        .footer-logo{
            margin-top: 10px;
        }
        .footer-menu-a{
            color: #ffffff;
            font-size: 18px;
            font-weight: 500;
        }
        .footer-menu li{
            margin-left: 59px;
        }
        .footer-menu-from{
            .footer-menu-from-inp{
                height: 50px;
                margin-bottom: 40px;
            }
            .footer-menu-from-btn{
                background-color: #C6B393;
                color: #ffffff;
                text-transform: uppercase;
                letter-spacing: 4px;
                font-weight: 500;
                padding: 12px 40px;
                border: none;
            }
            .footer-menu-from-btn:hover {
                background-color: #ffffff;
                color: #222222;
            }
        }
        
    }
}

.antidecoration-a{
    text-decoration: none;
}

.antidecoration-li{
    list-style-type: none;
    display: inline;    
}

.divider{
    border-top: 1px solid #ffffff;
    min-width: 500px; 
}

.conteiner-submenu{
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    ul{
        padding-left: 0;
    }
    .submenu-services-a{
        color: #ffffff;
        font-size: 18px;
        font-weight: normal;
    }
    .submenu-services-li{
        margin-right: 43px;
    }
    .social-a{
        color: #ffffff;
        font-size: 24px;
        margin: 0 4px;
    }
}


.header-menu {
    position: relative;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.burger{
    display: none;
}

.burger__list{
    display: flex;
    position: relative;
}

.burger__list li{
    list-style: none;
    margin: 0 0 0 20px;
}

.burger__link{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px; 
    text-decoration: none;

}

.burger__link:hover{
    text-decoration: underline;
}

footer{
    li:hover{
      text-decoration: underline;  
    }
}
